footer {
  background-color: $dark-bg;
	padding: 20px 30px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	width: 100%;

	p button {
		background-color: transparent;
		color: $primary;
		text-decoration: underline;
		cursor: pointer;
	}

	.form-container {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 1000;
    backdrop-filter: blur(10px);
		display: none;
		opacity: 0;
		place-items: center;
		transition: all 200ms ease;
		overflow-y: auto;
		min-height: 440px;

		form {
			background-color: $dark-bg;
			border-radius: 10px;
			box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.05);
			padding: 20px;
			height: 400px;
			width: 300px;
			display: flex;
			justify-content: center;
			align-items: stretch;
			flex-direction: column;
			gap: 10px;

			section {
				position: relative;
				width: 100%;

				&.focus {

					.label {
						color: rgba(255, 255, 255, 0.5);
						background-color: $dark-bg;
						padding: 0 5px;
						top: -8px;
					}

					input, textarea {
						border: 2px solid rgba(255, 255, 255, 0.5);
					}
				}
			}

			.input-section {
				height: 45px;

				input {
					height: 40px;
					padding: 0 10px;
				}
			}

			.textarea-section {
				height: 100%;

				textarea {
					height: 100%;
					padding: 10px;
					resize: none;
				}
			}

			input, textarea {
				border-radius: 5px;
				background-color: transparent;
				border: 2px solid $secondary;
				width: 100%;
				transition: border 100ms ease;
				color: $secondary;
			}

			.label {
				position: absolute;
				top: 10px;
				left: 10px;
				font-size: 14px;
				color: $secondary;
				transition: all 100ms ease;
			}

			.btns {
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 5px;

				button {
					width: 100%;
					height: 35px;
					color: $secondary;
					border-radius: 5px;
					cursor: pointer;
				}

				button[type=button] {
					background-color: transparent;
					border: 2px solid $secondary;

					&:hover {
						background-color: $secondary;
						color: $dark-bg;
					}

					&:active {
						background-color: $secondary-2;
					}
				}

				button[type=submit] {
					background-color: $primary;

					&:hover {
						background-color: $primary-2;
					}

					&:active {
						background-color: $primary-3;
					}
				}
			}
		}
	}

	.bottom {
		margin-top: 10px;

		li{
			display: inline-block;
		}

		span {
			border: 0.5px solid $secondary;
		}

		a {
			display: inline-block;
			width: 100px;
			padding: 5px 10px;
		}
	}
}