.select-link-menu {
	position: relative;

	.options {
		position: absolute;
		top: 100%;
		right: 0;
		background-color: $secondary;
		padding: 5px;
		border-radius: 5px;
		display: none;
		opacity: 0;
		transition: opacity 100ms ease;
		font-size: 14px;
		text-align: left;

		li {
			width: 100%;
			list-style-type: none;

			a {
				display: block;
				padding: 7px 15px !important;
				color: $dark-bg !important;

				&:hover {
					background-color: $secondary-2;
					text-decoration: none !important;
				}

				&:active {
					background-color: $secondary-3;
				}
			}
		}
	}
}