.throbber-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
	width: 100% !important;
}
	
@keyframes blink {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	100% {
		transform: scale(.5);
		opacity: 0;
	}
}

.throbber {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
}

.throbber li {
	position: absolute;
	display: block;
	border-radius: 4px;
	background-color: #999;
	width: 6px;
	height: 6px;
	margin-top: -3px;
	margin-left: -3px;
	opacity: 0;
	animation: blink .8s ease infinite;
}

.throbber li:nth-child(1) {
	top: 0%;
	left: 50%;
}

.throbber li:nth-child(2) {
	top: 15%;
	left: 85%;
	animation-delay: .1s;
}

.throbber li:nth-child(3) {
	top: 50%;
	left: 100%;
	animation-delay: .2s;
}

.throbber li:nth-child(4) {
	top: 85%;
	left: 85%;
	animation-delay: .3s;
}

.throbber li:nth-child(5) {
	top: 100%;
	left: 50%;
	animation-delay: .4s;
}

.throbber li:nth-child(6) {
	top: 85%;
	left: 15%;
	animation-delay: .5s;
}

.throbber li:nth-child(7) {
	top: 50%;
	left: 0%;
	animation-delay: .6s;
}

.throbber li:nth-child(8) {
	top: 15%;
	left: 15%;
	animation-delay: .7s;
}