/********** dark theme **********/

// dark bg
$infinity: #222831;
$chimney-sweep: #282E37;
$total-eclipse: #2E333C;

//light bg
$antarctic-deep: #343941;
$ferry: #373C44;
$ferry2: #393E46;

//primary
$flame-anglefish: #FF4C29;
$orange-soda: #FF5C3C;
$blistering-mars: #FF6B4E;

//secondary
$lynx-white: #F7F7F5;
$beluga: #F1F1F1;
$white-edgar: #EDEDED;

//link
$lynx-white-8: rgba(247, 247, 245, 0.8);

//star
$electric-glow: #ffd000;

/********************************/

// color definition

$dark-bg: $infinity;
$dark-bg-2: $chimney-sweep;
$dark-bg-3: $total-eclipse;

$light-bg: $antarctic-deep;
$light-bg-2: $ferry;
$light-bg-3: $ferry2;

$primary: $flame-anglefish;
$primary-2: $orange-soda;
$primary-3: $blistering-mars;

$secondary: $lynx-white;
$secondary-2: $beluga;
$secondary-3: $white-edgar;

$link: $lynx-white-8;

$star: $electric-glow;